# Java 관련 파일
*.class
*.jar
*.war
*.ear

# 로그 파일
*.log
.gradle
# Gradle 관련 파일 무시
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# 빌드 결과물 무시
build/

# 특정 IDE나 운영체제 관련 무시 파일 추가 (필요에 따라)
.idea/
.DS_Store

# 컴파일된 class 파일 및 JAR 파일
target/
build/

# Maven 관련 파일
.mvn/
!.mvn/wrapper/maven-wrapper.jar
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle 관련 파일
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
**/build/

# 환경설정 파일
*.iml
*.ipr
*.iws

# IDE 설정 파일 (IntelliJ, Eclipse, VSCode 등)
.idea/
*.swp
*.swo
.vscode/
.project
.classpath
.c9/

# OS별 생성 파일
Thumbs.db

# 기타 설정 파일
.env
!.gitkeep

# Lombok 플러그인 파일
.lombok.config

# 기타 특정 환경에서의 파일들
bin/
out/